/*스타일 초기화*/

*{margin: 0px; padding:0px;}
header.body.footer {font-size:14px, font-family: 나눔고딕,굴림,돋음,'Times New Roman',serif; width 100%;}
header.footer{text-align:center;}
body{margin:auto;}

h1{padding : 15px; font-size: 30px; color: white;}
h2{font-size: 15px;color:white;}
h3{margin: 10px; font-size: 15px; color:green; text-shadow: 4px 4px 7px green;}
h1,h2{ background-image: url(bg.jpg); background-repeat: repeat-x;}

img{ border: 0; padding: 2px;}

nav{margin:5px 5px}

nav> span > a {font-size: : bold; margin:0; padding: 3px; border:2px solid purple;
float: right; text-decoration: none; background: purple; color: white;}
nav> span > a:hover {background: #ff00ff; color=white;}

@media only screenand(min-width:321px) and (orientation: landscape) {
  section{width : 80%; float: right;}
  aside { width:20%; text-align: center;float: right;}
  fotter{clear: both;}
}

.content {clear:both;}
.section ul li {list-style-position: inside; list-style-image: url("li.jpg")}


/*mintro.html 적용 스타일*/

#stu-pic { width : 6em; height:8em; float: left;}

/*minfo.html 적용 스타일*/

#year-table { table-layout: auto; width: 80%;border-collapse: seperate;}
#year-table thead{background:#E3f2d0;}
#logo{position:fixed; top;130px; left:70px; opacity:0.3;}

video { margin : 5px; width:300px; height:200px;}

.semi-pic{ width: 4em; height: 3em;}
#pic-container{overflow: hidden;}
#pic-container:hover { height:220px;}
